* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body {
    background-color: #000000;
    color: #ffffff;
}
.common-paragraph {
    margin: 0.8rem 0;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.6);
}
.common-btn {
    padding: 1rem 2rem;
    background-color: #e6533c;
    color: #ffffff;
    border: 1px solid #e6533c;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.common-btn:hover {
    background-color: #f33f23;
}
.plain-btn {
    background-color: transparent;
    border: 1px solid #ffffff;
}
.plain-btn:hover {
    background-color: transparent;
    border: 1px solid #ffffff81;
}
.common-h2 {
    font-size: 2.5rem;
}

#header {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.01),
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.08),
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.18),
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.18),
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.08),
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.01)
    );
    background-position: center;
    background-size: cover;
    /* height: 80vh; */
    backdrop-filter: blur(10px);
    padding: 2rem 0;
}
#header #header-container {
    max-width: 80%;
    margin: 0 auto;
}
#header #header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header #header-nav #header-logo {
    font-size: 2rem;
    font-style: italic;
    color: #e6533c;
    font-weight: bold;
}
#header #header-nav #nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    border: 1px solid #ffffff3c;
    border-radius: 50px;
    padding: 1.2rem;
}
#header #header-nav #nav-links li a {
    text-decoration: none;
    color: #ffffff;
    padding: 1rem 1.5rem;
    border: 1px solid transparent;
    border-radius: 50px;
    transition: all 0.3s ease;
}
#header #header-nav #nav-links li a:hover {
    border: 1px solid #ffffff3c;
    background-color: #e6533c;
}

#header #header-banner {
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}
#header #header-banner #banner-content #banner-content-h1 {
    font-size: 5rem;
}
#header #header-banner #banner-content #header-button-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.8rem;
}

#header #header-banner #banner-image {
    position: relative;
}
#header #header-banner #banner-image #vid-tutorial-count {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#header #header-banner #banner-image #vid-tutorial-count #shape {
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    background-color: #f33f23;
}
#header #header-banner #banner-image #vid-tutorial-count p,
#vid-workout-count p {
    color: rgba(255, 255, 255, 0.6);
    margin: 0.5rem 0;
}
#header #header-banner #banner-image #vid-workout-count h3 {
    font-size: 2rem;
}

#header #header-banner #banner-image #vid-tutorial-count,
#banner-image #vid-workout-count {
    /* display: inline-block; */
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background-color: #00000019;
    backdrop-filter: blur(10px);
    position: absolute;
}
#header #header-banner #banner-image #vid-tutorial-count {
    left: -100px;
    bottom: 0;
}
#header #header-banner #banner-image #vid-workout-count {
    right: -50px;
    top: 10px;
}

#main #change-habit {
    width: 80%;
    margin: 5rem auto;
    text-align: center;
}
#main #change-habit #habit-container {
    display: flex;
    gap: 1rem;
    margin: 3rem 0;
}
#main #change-habit #habit-container .habit {
    text-align: center;
}
#main #change-habit #habit-container .habit > img {
    border: 5px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    margin-bottom: 1rem;
}

#main #run-extra {
    width: 80%;
    margin: 8rem auto;
    display: flex;
    align-items: center;
    gap: 15rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}
#main #run-extra > img {
    width: 33%;
    border-radius: 10px;
}

#main #training-exercises {
    max-width: 80%;
    margin: 5rem auto;
    text-align: center;
}
#main #training-exercises p {
    width: 50%;
    margin: 0 auto;
}
#main #training-exercises #exercieses-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2rem 0;
}
#main #training-exercises #exercieses-container > div {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: end;
    justify-content: center;
}
#main #training-exercises #exercieses-container > div p {
    visibility: hidden;
    transition: all 0.3s ease;
}
#main #training-exercises #exercieses-container > div:hover p {
    font-size: 1.2rem;
    padding: 1rem 0;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    visibility: visible;
}

#main #training-exercises #exercieses-container .img1 {
    background-image: linear-gradient(rgba(0, 220, 220, 0.4)),
        url(images/exercise1.jpg);
    background-position: center;
    background-size: cover;
}
#main #training-exercises #exercieses-container .img2 {
    grid-column: 2/4;
    background-image: linear-gradient(rgba(220, 0, 0, 0.4)),
        url(images/exercise2.png);
    background-position: center;
    background-size: cover;
}
#main #training-exercises #exercieses-container .img3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
        url(images/exercise3.png);
    background-position: center;
    background-size: cover;
}
#main #training-exercises #exercieses-container .img4 {
    grid-column: 1/3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
        url(images/exercise4.png);
    background-position: center;
    background-size: cover;
}
#main #training-exercises #exercieses-container .img5 {
    background-image: linear-gradient(rgba(107, 240, 74, 0.5)),
        url(images/exercise5.jpg);
    background-position: center;
    background-size: cover;
}
#main #training-exercises #exercieses-container .img6 {
    background-image: linear-gradient(rgba(0, 120, 250, 0.4)),
        url(images/exercise6.jpg);
    background-position: center;
    background-size: cover;
}

#main #bmi-calculator-container #bmi-calculator-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
#main #bmi-calculator-bg {
    background-color: #222222;
}
#main #bmi-calculator {
    width: 80%;
    margin: 3rem auto;
    padding: 3rem 0;
    display: flex;
    gap: 10rem;
}

#main #bmi-calculator-container #bmi-calculator h3 {
    font-size: 2rem;
}

/* border collapse is to collapse double border in table */
#main #bmi-calculator-container #bmi-chart {
    border-collapse: collapse;
}
#main #bmi-calculator-container #bmi-chart,
th,
td {
    border: 1px solid #444;
    padding: 1rem;
    margin: 2rem 0;
}
#main #bmi-calculator #calculator-container {
    width: 60%;
}
#main #bmi-calculator #calculator-container #calculator {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem 0;
}

#main #bmi-calculator-container #calculator-container #calculator input,
#calculator select {
    color: rgb(147, 147, 147);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.8rem;
    border-radius: 10px;
    border: 1px solid transparent;
}
#main #bmi-calculator-container #calculator-container #activity {
    grid-column: 1/3;
}

#main #our-team {
    max-width: 80%;
    margin: 5rem auto;
    text-align: center;
}
#main #our-team > p {
    width: 50%;
    margin: 0 auto;
}

#main #our-team #team-member-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 2rem 0;
    padding: 1rem;
    background-color: #222;
    border-radius: 10px;
}
#main #our-team #team-member-container > div {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0.5rem;
}
#main #our-team #team-member-container div > h3,
#team-member-container div > p {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    text-align: start;
}
#main #our-team #team-member-container .mem1 {
    background-image: url("images/trainer1.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
#main #our-team #team-member-container .mem2 {
    background-image: url("images/trainer2.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
#main #our-team #team-member-container .mem3 {
    background-image: url("images/trainer3.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
#main #our-team #team-member-container .mem4 {
    background-image: url("images/trainer4.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
#main #our-team #team-member-container .mem5 {
    background-image: url("images/trainer5.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#main #our-team #team-member-container .mem6 {
    background-image: url("images/trainer6.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#footer {
    background-color: #111;
}
#footer #footer-information {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
}
#footer #footer-information #footer-moto {
    width: 50%;
}
#footer #footer-information #footer-logo {
    font-size: 3rem;
    font-style: italic;
    color: #e6533c;
    font-weight: bold;
}
#footer #footer-information #about-us ul,
#app-design ul {
    list-style-type: none;
}
#footer #footer-information #about-us li,
#app-design li {
    padding: 0.3rem;
    margin: 0.3rem 0;
}
#footer #footer-information #about-us li a,
#app-design li a {
    text-decoration: none;
    color: #888888;
    transition: all 3s ease;
}
#footer #footer-information #about-us li:hover a,
#app-design li:hover a {
    text-decoration: underline;
}

hr {
    width: 80%;
    margin: 0 auto;
    background-color: #111;
}
#footer > p {
    text-align: center;
    padding: 1rem 0;
}

@media screen and (max-width: 568.5px) {
    .common-h2 {
        font-size: 2rem;
    }
    #header #header-nav {
        flex-direction: column;
        gap: 1rem;
    }
    #hedaer #header-nav #nav-links {
        flex-wrap: wrap;
    }

    #header #header-banner #banner-content #banner-content-h1 {
        font-size: 3rem;
    }
    #header #header-banner {
        flex-direction: column;
    }
    #header #header-banner #banner-image {
        width: 80%;
    }
    #header #header-banner #banner-image #vid-workout-count {
        right: -80px;
        top: -70px;
    }

    #main #change-habit #habit-container {
        flex-direction: column;
    }

    #main #run-extra {
        flex-direction: column-reverse;
        width: 90%;
        gap: 2rem;
    }
    #main #run-extra > img{
        width: 100%;
    }
}
